<mat-toolbar color="primary">
<span>
  <a routerLink="/">WorkoutsBuddy</a>
</span>
<span class="spacer"></span>
  <ul>
    <li mat-button routerLinkActive="mat-accent"><a [routerLink]="['/my-workout']">Create/View Workout</a></li>
    <li routerLinkActive="mat-accent"><a [routerLink]="['/custom-workout']">Custom Workout</a></li>
    <li routerLinkActive="mat-accent"><a [routerLink]="['/dash']">Dashboard</a></li>
    <li routerLinkActive="mat-accent"><a [routerLink]="['/saved-workouts']">My Saved Workouts</a></li>
  </ul>
<mat-toolbar>
