<mat-toolbar color="primary">
<span>
  <a routerLink="/">WorkoutsBuddy</a>
</span>
<span class="spacer"></span>
  <ul>
    <li><a mat-button routerLinkActive="mat-accent" [routerLink]="['/my-workout']">Create/View Workout</a></li>
    <li><a mat-button routerLinkActive="mat-accent" [routerLink]="['/custom-workout']">Custom Workout</a></li>
    <li><a mat-button routerLinkActive="mat-accent" [routerLink]="['/dash']">Dashboard</a></li>
    <li><a mat-button routerLinkActive="mat-accent" [routerLink]="['/saved-workouts']">My Saved Workouts</a></li>
  </ul>
</mat-toolbar>
