<h1>WorkoutsBuddy</h1>
<h2>What is this?</h2>
<br>
<p>WorkoutsBuddy is for the person who wants to go to the gym, but doesn't quite know
what to do. If this is you, hopefully you can find help here! If you click on the
"Create/View Workout" menu option, you will be led to a form that will give you a
workout to do. Just pick a level and two muscle groups, then let the application give you something to do!
Each exercise in the generated workout has a youtube video for instructions on how to perform the exercise.</p><br>
<h3>How to use WorkoutsBuddy</h3><br>
<p>The different levels correspond to how many exercises you will do with how many sets of each, as well as
what equipment you will use. Level I is more machines, Level II is a mix between
free weights and machines, and Level III focuses on free weight exercises the most. You will also
have to choose two muscle groups to work out. I recommend working
out Biceps and Back, Chest and Triceps, or Legs and Shoulders, but the choice is yours!
Just be sure to pick muscles you have not worked out in at least 48 hours in order to let your
body recover properly. It is also good to add abs to the end of your workout every few days.</p><br>
<p>After your workout is generated, if you find that you are unable to do an exercise for
whatever reason, feel free to hit the "Swap Out" button to get a different exercise.
This is especially useful when the gym is crowded and not all of the equipment is available.</p><br>
<h3>Custom Workouts</h3><br>
<p>If you already have a workout in mind, you may make your own custom workout with
the "Custom Workout" menu option. Here you can search the database for exercises and add them
to a workout.</p><br>
<h2>Creating an Account</h2>
<p>The features above do not require an account to use. However, signing up for WorkoutsBuddy
gives you a couple of extra features you may find useful. With an account, you will be able to
save workouts you would like to do at a later time. You may also enter in sets for exercises as you
do them to record your progress. The next time you do that exercise, you will be able to see
how many reps you did and at what weight last time to make sure you keep getting stronger.</p>
<h2>About Me</h2>
<p>I am one of those strange people that is nerdy but also enjoys working out. Being a nerd, I tend
to befriend other more nerdy people. In college, it didn't take long to learn that a lot of people
want to work out, but don't really know what do to and are afraid to go to the gym by themselves (understandably so!).
Such people would approach me and ask if they could come to the gym with me sometime. Eventually I had a
small group of friends I would go to the gym with who got comfortable enough to start going by themselves
and still work out today. I thought that was pretty cool, so I decided to make this website to help those
types of people out that I don't know personally. There are all sorts of different ways to approach
exercising out there on the interwebs, so it can be confusing to know where to start. WorkoutsBuddy is a place to just start
doing something. So do it! Happy exercising!</p>
