<div class="row">
  <div class="current-workout-top">
    <div class="top-item custom-workout-title">
      <h3>Current Workout</h3>
    </div>
    <div class="top-item">
      <button class="btn btn-sm btn-primary" (click)="resetWorkout()">New Workout</button>
    </div>
    <div class="top-item">
      <button class="btn btn-sm btn-primary" (click)="openOrderExerciseDialog()">Reorder Exercises</button>
    </div>
    <div class="top-item save-button">
      <button class="btn btn-sm btn-success" (click)="openSaveWorkoutDialog()" *ngIf="isLoggedIn">Save Workout</button>
    </div>
  </div>
</div>
<div class="row">
    <mat-accordion class="headers-align">
      <mat-expansion-panel *ngFor="let exercise of workout.exercises; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ i + 1 }}. {{ exercise.name }}
          </mat-panel-title>
          <mat-panel-description class="mat-expansion-panel-header-description">
            {{ getNumberOfSets(exercise) }}
          </mat-panel-description>
          <div class="col-md-2">
            <button class="btn btn-primary btn-sm" (click)="swapExercise(exercise)">Swap Out</button>
          </div>
        </mat-expansion-panel-header>
        <app-exercise [exercise]="exercise"
                      [isLoggedIn]="isLoggedIn"
                      [userId]="userId">
        </app-exercise>
      </mat-expansion-panel>
    </mat-accordion>
    <hr>
</div>
