<div class="row">
  <div class="col-md-8">
    <h3>Current Workout</h3>
  </div>
  <div class="col-md-1">
    <button class="btn btn-primary" (click)="resetWorkout()">New Workout</button>
  </div>
  <div class="col-md-1">
    <button class="btn btn-primary" (click)="openDialog()" *ngIf="isLoggedIn">Save Workout</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let exercise of workout.exercises">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ exercise.name }} ({{ getNumberOfSets(exercise) }})
          </mat-panel-title>
          <mat-panel-description>
            
          </mat-panel-description>
          <div class="col-md-2">
            <button class="btn btn-primary" (click)="swapExercise(exercise)">Swap Out</button>
          </div>
        </mat-expansion-panel-header>
        <app-exercise [exercise]="exercise"
                      [difficulty]="workout.difficulty"
                      [location]="'current-workout'"
                      [isLoggedIn]="isLoggedIn"
                      [userId]="userId">
        </app-exercise>
      </mat-expansion-panel>
    </mat-accordion>
    <hr>
  </div>
  <!-- <div>
    <app-checklist [title]="workout.name" [items]="getWorkoutExerciseNames()">
        Loading checklist
    </app-checklist>
  </div> -->
</div>
