<div class="row">
  <div class="col-md-6">
    <h3>{{ exercise.name }}</h3>
    <div *ngIf="difficulty">
      <h3>({{ numberOfSets }} sets)</h3>
    </div>
    <h5>Muscle: {{ exercise.muscle }}</h5>
    <h5>Equipment: {{ exercise.equipment }}</h5>
    <p>{{ exercise.description }}</p>
    <button class="btn btn-primary" (click)="swapExercise()">
      Swap out
    </button>
  </div>
  <div class="col-md-6">
    <iframe width="560"
            height="315"
            [src]="sanitizeUrl(exercise.video)"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen>
    </iframe>
  </div>
</div>
