#description-buttons {
  display: none;
}

@media screen and (max-width: 661px) {

  #description-buttons {
    display: inline;
  }

  #description-items {
    display: none;
  }

  #saved-workout-buttons {
    display: none;
  }

}

@media screen and (max-width: 475px) {

  mat-panel-title {
    font-size: .8em;
  }

}
