<div class="row">
  <h2>Saved Workouts</h2>
</div>
<mat-accordion>
  <mat-expansion-panel *ngFor="let workout of displayedWorkouts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ workout.name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ getExerciseMuscleGroups(workout) }}
      </mat-panel-description>
      <button class="btn btn-primary" (click)="makeCurrentWorkout(workout)">Make Current Workout</button>
      <button class="btn btn-danger" (click)="removeWorkout(workout)">Remove</button>
    </mat-expansion-panel-header>
    <span class="row" *ngFor="let exercise of workout.exercises">
      {{ exercise.name }}
    </span>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageUpdate($event)">
</mat-paginator>
