<div class="row">
  <div class="col-md-9">
      <h2>Saved Workouts</h2>
  </div>
</div>
<mat-accordion>
  <mat-expansion-panel *ngFor="let workout of displayedWorkouts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ workout.name | truncate:[15, '...'] }}
      </mat-panel-title>
      <mat-panel-description>
        <div id="description-items">
          <p><small>date: {{ workout.createdAt | date }}</small> &nbsp;&nbsp; | &nbsp;&nbsp;
          <small>muscles: {{ getExerciseMuscleGroups(workout) }} </small></p>
        </div>
        <div id="description-buttons">
          <button class="btn btn-primary btn-sm"
                  id="current-workout-button-description"
                  (click)="makeCurrentWorkout(workout)">Make Current Workout
          </button>
          <button class="btn btn-danger btn-sm"
                  id="remove-workout-button-description"
                  (click)="removeWorkout(workout)">Remove
          </button>
        </div>
      </mat-panel-description>
      <div id="saved-workout-buttons">
        <button class="btn btn-primary btn-sm"
                id="current-workout-button"
                (click)="makeCurrentWorkout(workout)">Make Current Workout
        </button>
        <button class="btn btn-danger btn-sm"
                id="remove-workout-button"
                (click)="removeWorkout(workout)">Remove
        </button>
      </div>
    </mat-expansion-panel-header>
    <span class="row" *ngFor="let exercise of workout.exercises">
      {{ exercise.name }}
    </span>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageUpdate($event)">
</mat-paginator>
