<div class="row">
  <div class="exercise-info">
    <h3>{{ exercise.name }}</h3>
    <h5>Muscle: {{ exercise.muscle }}</h5>
    <h5>Equipment: {{ exercise.equipment }}</h5>
  </div>
  <div class="youtube-frame">
    <iframe width="300"
            height="200"
            [src]="safeVideo"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen>
    </iframe>
  </div>
  <div class="set-container">
    <app-set-container [sets]="lastSets" [exerciseId]="exercise._id"></app-set-container>
  </div>
</div>
