li {
  display: inline;
  padding: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app-wrapper {
  padding: 4rem;
}

.bottom-panel-wrapper {
  white-space: nowrap;
  max-width: 99%;
}

.bottom-panel-item {
    width: 15%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0 3%;
    white-space: normal;
}

.bottom-panel-item-logged-off {
  width: 29%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0 3%;
  white-space: normal;
}

.main-logo {
  text-decoration: none;
  color: white;
}

.menu-option {
  text-decoration: none;
  color: white;
  font-size: .75em;
}

.menu-option:hover {
  color: lightgray;
}

.toolbar {
  width: 100%;
}

#bottom-toolbar  {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#bottom-toolbar-logged-off {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#welcome-statement {
  font-size: .7em;
}

#user-link:hover {
  color: lightgray;
}

@media screen and (max-width: 321px) {

  .bottom-panel-item {
    width: 16%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0 3%;
    white-space: normal;
  }

  .bottom-panel-item-logged-off {
    width: 28%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0 3%;
    white-space: normal;
  }

  .left-text {
    text-align: left;
  }

}
