<div class="row">
  <mat-toolbar color="primary">
    <div class="col-md-2">
      <a class="main-logo" routerLink="/">WorkoutsBuddy</a>
    </div>
    <div class="col-md-7">
      <ul>
        <li><a class="menu-option" mat-button routerLinkActive="mat-accent" [routerLink]="['/my-workout']">Create/View Workout</a></li>
        <li><a class="menu-option" mat-button routerLinkActive="mat-accent" [routerLink]="['/custom-workout']">Custom Workout</a></li>
        <li><a class="menu-option" mat-button routerLinkActive="mat-accent" [routerLink]="['/dash']">Dashboard</a></li>
        <li><a class="menu-option" mat-button routerLinkActive="mat-accent" [routerLink]="['/saved-workouts']">My Saved Workouts</a></li>
      </ul>
    </div>
    <div class=".col-md-3">
      <div *ngIf="!isLoggedIn">
        <a routerLink="/login-signup"><button class="btn btn-primary">Login/Signup</button></a>
      </div>
      <div class="col-md-6" *ngIf="isLoggedIn">
        <h5 id="welcome-statement">Welcome, <a id="user-link" [routerLink]="['/user', userId]">{{ username }}</a></h5>
      </div>
      <div class="col-md-6" *ngIf="isLoggedIn">
        <button class="btn btn-danger" (click)="onLogout()">Logout</button>
      </div>
    </div>
  </mat-toolbar>
</div>
<div class="app-wrapper">
  <router-outlet></router-outlet>
</div>
