ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-logo {
  text-decoration: none;
  color: white;
}

.menu-option {
  text-decoration: none;
  color: white;
  font-size: .75em;
}

li {
  display: inline;
  padding: 2rem;
}



.app-wrapper {
  padding: 4rem;
}

.login-elements {

}
