<h3>Login</h3>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="row">
    <div class="login-label">
      <label for="username-login">Username:</label>
    </div>
    <div class="login-input">
      <input type="text" class="form-control" placeholder="username" ngModel name="username-login" required>
      <small *ngIf="invalidUsername" class="text-danger">Username not found</small>
    </div>
  </div>
  <div class="row">
    <div class="login-label">
      <label for="password-login">Password:</label>
    </div>
    <div class="login-input">
      <input type="password" class="form-control" placeholder="password" ngModel name="password-login" required>
      <small *ngIf="invalidPassword" class="text-danger">Password Incorrect</small>
      <a class="btn" type="button"
         *ngIf="f.form.controls['username-login'] && f.form.controls['username-login'].value"
         (click)="forgotPassword(f.form.controls['username-login'].value)">
       Forgot Password?</a>
    </div>
  </div>
  <button class="btn btn-primary" [disabled]="f.form.invalid" type="submit">Login</button>
</form>
