<div class="row">
  <div class="col-md-8">
    <h3>Current Workout</h3>
  </div>
  <div class="col-md-1">
    <button class="btn btn-primary" (click)="resetWorkout()">New Workout</button>
  </div>
  <div class="col-md-1">
    <button class="btn btn-primary" (click)="openDialog()" *ngIf="isLoggedIn">Save Workout</button>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="row" *ngFor="let exercise of workout.exercises">
      <hr>
      <app-exercise [exercise]="exercise"
                    [difficulty]="workout.difficulty"
                    [location]="'current-workout'"
                    (exerciseSelected)="swapExercise($event)">
      </app-exercise>
    </div>
  </div>
  <div>
    <app-checklist [title]="workout.name" [items]="getWorkoutExerciseNames()">
        Loading checklist
    </app-checklist>
  </div>
</div>
