<div class="row">
  <h2>Saved Workouts</h2>
</div>
<mat-accordion>
  <mat-expansion-panel *ngFor="let workout of workouts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ workout.name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ getExerciseMuscleGroups(workout) }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <span class="row" *ngFor="let exercise of workout.exercises">
      {{ exercise.name }}
    </span>
  </mat-expansion-panel>
</mat-accordion>
