<form [formGroup]="formGroup" (ngSubmit)="search()">
  <h3>Custom Workout</h3>
  <div class="search-content">
    <div class="muscle-options-container">
      <mat-form-field class="top-form-field">
        <mat-select placeholder="Muscle Group" formControlName="muscleGroup">
          <mat-option *ngFor="let field of muscleFields" [value]="field">
            {{ field }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="equipment-options-container">
      <mat-form-field class="top-form-field" id="equipment-form-field">
        <mat-select placeholder="Equipment" formControlName="equipment">
          <mat-option *ngFor="let field of equipmentFields" [value]="field">
            {{ field }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="exercise-name-input-container">
      <mat-form-field id="exercise-name-input">
        <input matInput placeholder="Type Exercise Name..." formControlName="exerciseName" [matAutocomplete]="auto">
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div class="search-buttons">
      <button class="btn btn-primary btn-sm" id="search-button" type="submit">Search</button>
      <button class="btn btn-danger btn-sm" id="clear-button" type="button" (click)="clearSearch()">Clear</button>
    </div>
  </div>
</form>
<div class="col-md-9">
  <div class="row" *ngIf="searchResults && searchResults.length > 0; else noResultsTemplate">
      <hr>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let exercise of displayedSearchResults">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ exercise.name }}
            </mat-panel-title>
            <mat-panel-description>
              <div class="col-md-2 add-workout-button-description">
                <button class="btn btn-primary btn-small" (click)="addToWorkout(exercise)">Add To Workout</button>
              </div>
            </mat-panel-description>
            <div class="col-md-2 add-workout-button">
              <button class="btn btn-primary btn-small" (click)="addToWorkout(exercise)">Add To Workout</button>
            </div>
          </mat-expansion-panel-header>
          <app-exercise [exercise]="exercise"></app-exercise>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-paginator *ngIf="searchResults && searchResults.length > 0"
                    [length]="length"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="pageUpdate($event)">
      </mat-paginator>
  </div>
  <ng-template #noResultsTemplate>
    <div class="col-md-2 col-md-offset-7" *ngIf="noResults">
      <p>Sorry, there were no results!</p>
    </div>
  </ng-template>
</div>
<div class="col-md-3" *ngIf="customWorkout.exercises.length > 0">
  <h6>Current Workout</h6>
  <div class="row" *ngFor="let exercise of customWorkout.exercises">
    <div class="col-md-4">
      <p>{{ exercise.name }} ({{ exercise.muscle }})</p>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary btn-sm" (click)="remove(exercise)">Remove</button>
    </div>
  </div>
  <button class="btn btn-success btn-sm" (click)="saveWorkout()">Save Workout</button>
  <button class="btn btn-danger btn-sm" (click)="clearWorkout()">Clear Workout</button>
</div>
<div class="row">
  <br><br>
</div>
