<div class="row">
  <div class="col-md-8">
    <form (ngSubmit)="search(f)" #f="ngForm">
      <h1>Create Custom Workout</h1>
      <label for="muscle-group">Muscle Group
        <select name="muscle-groups" class="form-control" id="muscle-group" ngModel>
          <option *ngFor="let field of muscleFields" [ngValue]="field">{{ field }}</option>
        </select>
      </label>
      <label for="equipment-options">Equipment
        <select name="equipment-options" class="form-control" id="equipment-options" ngModel>
          <option *ngFor="let field of equipmentFields" [ngValue]="field">{{ field }}</option>
        </select>
      </label>
      <label for="name-search">Name
        <input type="text" id="name-search" class="form-control" name="name-search" ngModel>
      </label>
      <button class="btn btn-primary" [disabled]="f.form.invalid" type="submit">Search</button>
    </form>
    <div class="row" *ngIf="searchResults">
        <hr>
        <!-- <app-exercise [exercise]="exercise" [location]="'custom-workout'" (exerciseSelected)="addToWorkout($event)">
          Loading...
        </app-exercise> -->
        <mat-accordion>
          <mat-expansion-panel *ngFor="let exercise of searchResults">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ exercise.name }}
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
              <div class="col-md-2">
                <button class="btn btn-primary" (click)="addToWorkout(exercise)">Add To Workout</button>
              </div>
            </mat-expansion-panel-header>
            <app-exercise [exercise]="exercise"></app-exercise>
          </mat-expansion-panel>
        </mat-accordion>
    </div>
  </div>
  <div class="col-md-4" *ngIf="customWorkout.exercises.length > 0">
    <h6>Current Workout</h6>
    <div class="row" *ngFor="let exercise of customWorkout.exercises">
      <div class="col-md-4">
        <p>{{ exercise.name }} ({{ exercise.muscle }})</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" (click)="remove(exercise)">Remove</button>
      </div>
    </div>
    <button class="btn btn-success" (click)="saveWorkout()">Save Workout</button>
  </div>
</div>
