mat-form-field {
  width: 7rem;
}

#add-set-icon {
  color: #33CC33;
  padding-left: 4px;
  padding-right: 2px;
}

#add-set-icon:hover {
  color: darkgreen;
  cursor: pointer;
}

#remove-set-icon {
  color: red;
  padding-left: 2px;
  padding-right: 2px;
}

#remove-set-icon:hover {
  color: darkred;
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  mat-form-field {
    width: 3.25rem;
    font-size: .4em;
  }

  span {
    font-size: .5em;
  }
}
