<div class="col-md-12">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <div class="difficulty row" [hidden]="currentQuestion != question.Difficulty">
        <h3>Choose a difficulty</h3>

          <div class="radio">
            <h2><span class="label label-default" for="beginner-difficulty">
            <input type="radio"
                   class="form-control"
                   id="beginner-difficulty"
                   name="difficulty-radio"
                   value="beginner"
                   required
                   ngModel
                   (click)="onInputSelected($event)">
           Beginner</span></h2>
         </div>

        <div class="radio">
          <h2><span class="label label-default" for="intermediate-difficulty">
          <input type="radio"
                 class="form-control"
                 id="intermediate-difficulty"
                 name="difficulty-radio"
                 value="intermediate"
                 ngModel
                 (click)="onInputSelected($event)">
         Intermediate</span></h2>
       </div>

        <div class="radio">
          <h2><span class="label label-default" for="advanced-difficulty">
          <input type="radio"
                 class="form-control"
                 id="advanced-difficulty"
                 name="difficulty-radio"
                 value="advanced"
                 ngModel
                 (click)="onInputSelected($event)">
           Advanced</span></h2>
         </div>
      </div>
      <div class="large-muscle-group row" [hidden]="currentQuestion != question.LargeMuscle">
        <h3>Choose a large muscle group</h3>

        <div class="radio">
          <h2><span class="label label-default" for="chest">
            <input type="radio"
                   class="form-control"
                   id="chest"
                   name="large-muscle-radio"
                   value="chest"
                   required
                   ngModel
                   (click)="onInputSelected($event)">
         Chest</span></h2>
        </div>

        <div class="radio">
        <h2><span class="label label-default" for="back">
        <input type="radio"
               class="form-control"
               id="back"
               name="large-muscle-radio"
               value="back"
               ngModel
               (click)="onInputSelected($event)">
         Back</span></h2>
         </div>

        <div class="radio">
          <h2><span class="label label-default" for="legs">
          <input type="radio"
                 class="form-control"
                 id="legs"
                 name="large-muscle-radio"
                 value="legs"
                 ngModel
                 (click)="onInputSelected($event)">
           Legs</span></h2>
         </div>
      </div>
      <div class="small-muscle-group row" [hidden]="currentQuestion != question.SmallMuscle">
        <h3>Choose a small muscle group</h3>

        <div class="radio">
          <h2><span class="label label-default" for="triceps">
          <input type="radio"
                 class="form-control"
                 id="triceps"
                 name="small-muscle-radio"
                 value="triceps"
                 required
                 ngModel
                 (click)="onInputSelected($event)">
          Triceps</span></h2>
        </div>

        <div class="radio">
          <h2><span class="label label-default" for="biceps">
          <input type="radio"
                 class="form-control"
                 id="biceps"
                 name="small-muscle-radio"
                 value="biceps"
                 ngModel
                 (click)="onInputSelected($event)">
          Biceps</span></h2>
        </div>

        <div class="radio">
          <h2><span class="label label-default" for="Shoulders">
          <input type="radio"
                 class="form-control"
                 id="shoulders"
                 name="small-muscle-radio"
                 value="shoulders"
                 ngModel
                 (click)="onInputSelected($event)">
           Shoulders</span></h2>
         </div>
      </div>

      <div class="abs row" [hidden]="currentQuestion != question.Abs">
        <h3>Add abs</h3>

        <h2><span class="label label-default" for="abs">Abs</span></h2>
        <input type="checkbox"
               class="form-control"
               id="abs"
               name="abs-checkbox"
               ngModel>
      </div>

    </div>
    <div class="row">
      <button class="btn btn-primary"
              [disabled]="currentQuestion === question.Difficulty"
              (click)="previous()"
              type="button">
            Previous
      </button>
      <button class="btn btn-success" [disabled]="f.form.invalid" type="submit">Create My Workout</button>
    </div>
  </form>
</div>
